[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
olca-ipc = "*"
django = ">=5.1,<6"
django-mail-auth = ">=3.2,<3.3"
gunicorn = ">=22,<23"
psycopg2-binary = "2.9.9"
ruff = "*"
pandas = "1.5.3"
numpy = ">=1,<2"
python-decouple = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
